---
---
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e6e7eb;
  font: lucida, sans-serif;
  font-size: 150%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 140%; 
}

p { margin: 1em 0; }

a:link, a:hover, a:visited, a:active {
    text-decoration:none
}

a:link, a:visited, a:active { color: #ff8f57; }
a:hover{ color: #26C9ED }

section {
   margin: 4rem auto; 
}

/*****************************************************************************/
/*
/* Menu
/*
/*****************************************************************************/
.menu{
    margin: -2rem auto 3rem;
    box-shadow: 0 0.6rem 4px -2px #232323;
    -moz-box-shadow: 0 0.6rem 4px -2px #232323;
    -webkit-box-shadow: 0 0.6rem 4px -2px #232323;
}

.menu a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.7rem;
    display: block;
    padding: 1rem;
}

.menu a:visited,
.menu a:link,
.menu a:active {
    color: #ff8f57;
}

.menu a:hover{
  background-color: #26C9ED;
  color: #fff;
}

.menu ul > li {
    background-color: #fff;
    margin: 0;
    padding: 0;
    /*padding: 1rem;*/
}

.menu .active{
    background-color: #ff8f57;
}

.menu .active a:visited,
.menu .active a:link,
.menu .active a:active {
  color: #fff;
}

.menu ul {
    list-style-type:none;
    padding: 0;
    margin: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
  color: #666;
}

a.back{
  font-weight: bold;
  font-size: 110%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  width: 100%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .sub-heading{
  font-weight: bold;
  color: #CF5300;
}

.title {
  font-weight: bold;
  display: inline-block;
}

.title a {
  color: #a00;
  text-transform: uppercase;
}

.title a:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.main-grid{
    background-color: #fff;
    text-align: left;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    box-shadow: 0 0.6rem 4px -2px #232323;
    -moz-box-shadow: 0 0.6rem 4px -2px #232323;
    -webkit-box-shadow: 0 0.6rem 4px -2px #232323;
}

footer {
  color: #666;
  font-size: 90%;
  overflow: hidden;
}

.social{
  font-size: 160%;
  text-transform: uppercase;
}

.social ul > li{
  margin: 1rem auto;
  list-style-type: none;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/*****************************************************************************/
/*
/* Project
/*
/*****************************************************************************/

.proj-list {
  list-style: none;
}

.proj-list li > i {
  color: #ff8f57; 
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Mobile Overrides
/*
/*****************************************************************************/

@media (max-width:995px){
    .main-grid .custom-row{
        margin: 2.5rem;
    }
}

@media (min-width: 995px) {
    .pull-right-lg {
        text-align: right;
    }
}
/*****************************************************************************/
/*
/* Custom Additions
/*
/*****************************************************************************/

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.custom-row:before, .custom-row:after{display:table;content:" "}
.custom-row:after{clear:both}
.custom-row:before, .custom-row:after{display:table;content:" "}
.custom-row:after{clear:both}
